.container-error{
    position: absolute;
    top: 40%;
    left: 10%;

    width: 90%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.9;

    z-index: 2;
}