.weather{
    margin: 2rem;
    width: 100vw;
}

.weather h1{
    text-align: center;
    color: #555;
    text-shadow: 1px 1px 3px #888, 2px 2px 3px #fff;    
}

.weather h2{
    color: #000;       
}

.weather div{
    margin: 1rem 5px;
}

.weather img{
    margin-top: 1.5rem;
}

.weather-box input, .weather-box label {
    color: #fff;

    border-color: #fff;
    border-width: 3px;
}

.weather .status{
    color: #000;
    font-size: 1.2rem;

    padding: 0.5rem;
}