#title{
    text-align: center;
    padding: 1.5rem;

    color: #f00;

    text-shadow: 1px 1px 2rem;

    transition: ease-in-out 0.5s color;
    animation:  alterColor 10s infinite;
}

.App{
    background-color: honeydew;
}

@keyframes alterColor {
    50% {
        color: #0ff;
    }
}