.App{
    background: url('./../../Assets/Imgs/background.jpg') no-repeat ;
    
    background-size: cover;
    height: 100%;
    width: 100%;

    margin: 1rem;

    border-radius: 0.5rem;
    box-shadow: -0.2rem -0.2rem 0.2rem 0.2rem black;
}